/* Add pseudo class root to hold variables that are reused frequently */
:root {
  --light: #e8cebf;
  --acc-green: #24614f;
  --acc-sand: #deaf95;
  --acc-brown: #504846;
  --acc-beige: #fdf8f5;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--acc-brown);
  margin-left: 0px;
  margin-right: 0px;
}

header { /* fix nav bar to the top of page on scroll and takes the whole width of browser and style it */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--acc-green);
  color: var(--light);
  border-bottom: var(--acc-sand) 10px solid;
}

header nav { /* Learnt about flexboxes, make the container a flexbox and have the items at the end of the axis */
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  list-style-type: none;
}

a {
  color: var(--acc-beige);
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  text-align: center;
  background-color: var(--acc-beige);
  padding: 18px 0px;
}

form {
  text-align: center;
  padding: 25px;
  background-color: var(--light);
  border-top: var(--acc-sand) 5px solid;
}

.form-box {
  padding: 15px 60px;
  border: var(--acc-sand) solid 5px;
  border-radius: 20px;
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
}

button {
  height: 40px;
  width: 75px;
  color: var(--acc-beige);
  background-color: var(--acc-brown);
  border: var(--acc-brown) 3px outset;
}

button:hover {
  background-color: var(--acc-green);
  border: var(--acc-green) 3px outset;
}

footer {
  text-align: center;
  background-color: var(--acc-green);
  color: var(--acc-beige);
  padding: 25px;
  border-bottom: var(--acc-brown) 10px solid;
}
